@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');

body{
    background-color: #FFF7F5;
}
.pic1 {
    width: 100%;
    height: 100%;
}

.pic1 img {
    width: 13%;
    height: 13%;
    object-fit: cover;
    margin-top: 30%;
    margin-left: 20%;
}

.pic2 img {
    width: 16%;
    height: 16%;
    object-fit: cover;
    margin-top: 5%;
    margin-left: 45%;
}
.pic3 img {
    width: 30%;
    height: 30%;
    object-fit: cover;
    margin-top: -7%;
    margin-left: 3%;
}
.text1 {
    font-family: "Paytone One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px; /* ปรับขนาดตามที่ต้องการ */
    color: #000; /* เปลี่ยนสีตามต้องการ */
    margin-left: -20%;
}

.pic4{
    margin-top: -10%;
}
.pic4 img {
    width: 20%;
    height: 20%;
    object-fit: cover;
    margin-bottom: 3%;
    margin-left: -14%;
}
.text2 {
    font-family: "Paytone One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px; /* ปรับขนาดตามที่ต้องการ */
    color: #000; /* เปลี่ยนสีตามต้องการ */
    margin-left: 13%;
}
.line8 {
    width: 40%;
    height: 40%;
    object-fit: cover;
    margin-top: -15%;
    margin-left: 85%;
}
.pic5{
    margin-top: -10%;
}
.pic5 img {
    width: 6%;
    height: 6%;
    object-fit: cover;
    margin-bottom: -3%;
    margin-left: -24%;
}
.text3 {
    font-family: "Paytone One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px; /* ปรับขนาดตามที่ต้องการ */
    color: #000; /* เปลี่ยนสีตามต้องการ */
    margin-left: 13%;
}
.pic6 img {
    width: 80%;
    height:80%;
    object-fit: cover;
    margin-top: 0%;
    margin-left: 10%;
}
.pic7 img {
    width: 75%;
    height: 75%;
    margin-top: -5%;
    margin-left: 15%;
}
.pic8 img {
    width: 15%;
    height: 15%;
    margin-top: 5%;
    margin-left: 55%;
} 
@media (max-width: 768px) {
    .text1, .text2, .text3 {
        font-size: 17vw;
    }
    .pic3 {
        flex-direction: column;
        align-items: center;
        margin-top: -5vh;
    }
}