@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&family=Paytone+One&display=swap');

body {
    background-color: #FFF7F5;
    margin: 3rem 2.5rem;
    min-height: 100vh;

}
html, body {
    height: 100%;
    overflow-y: auto;
}

.text1 {
    font-family: "Paytone One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px; /* ปรับขนาดตามที่ต้องการ */
    color: #000; /* เปลี่ยนสีตามต้องการ */
}

.text2 {
    font-family: "Paytone One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px; /* ปรับขนาดตามที่ต้องการ */
    color: #000; /* เปลี่ยนสีตามต้องการ */
}
.text3 {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-size: 14px;
    font-weight: 400; /* หรือ 700 ถ้าต้องการตัวหนา */
    font-style: normal;
    text-align: justify; /* จัดให้ข้อความชิดขอบซ้ายขวา */
    max-width: 800px; /* กำหนดขนาดของข้อความให้เท่ากัน */
    margin: 0 auto; /* จัดให้อยู่ตรงกลาง */
    line-height: 1.6; /* เพิ่มระยะห่างระหว่างบรรทัดให้อ่านง่ายขึ้น */
}

/* .text3, .column, footer {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-size: 14px;
    /* font-optical-sizing: auto; */
    /* font-weight: 400; */
     /* หรือ 700 ถ้าต้องการตัวหนา */
    /* font-style: normal;
    margin: auto; */

/* } */ 


h1, h2 {
    color: #333;
}

.section {
    margin-bottom: 20px;
}

.team {
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
    justify-content: center; /* จัดให้อยู่ตรงกลางแนวนอน */
    align-items: center;
}

/* .team-member {
    text-align: center;
    width: 120px;
}

.team-member img {
    width: 100px;
    height: 100px;
    background: #ccc;
    border-radius: 8px;
    display: block;
    margin: auto;
}

.team-member p {
    font-size: 14px;
    margin-top: 8px;
} */

/* Centered team member image */
.team-member-center {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-member-center img {
    width: 15rem;
    height: auto;
    /* background: #ccc; */
}


/* Display numbers and names in two columns */
.team-numbers {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 45%;
}

.column p {
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    font-size: smaller;
}
